{% extends "CRUD/base.html" %}
{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Patient Name</td>
            <td>Contact</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Admit_Status</td>
            <td>Patient_Id</td>
            <td>Ward_No.</td>
            <td>Facilities</td>
            <td>Address</td>
            <td>Admit_Date</td>
            <td>PImage</td>
            <td>
                <a href="{% url 'patient_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>  New_Entry
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for patient in patient_list %}
            <tr>
                <td>{{patient.fullname}}</td>
                <td>{{patient.contact}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.gender}}</td>
                <td>{{patient.Admit_Status}}</td>
                <td>{{patient.pat_code}}</td>
                <td>{{patient.wardno}}</td>
                <td>{{patient.facility}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.admitdate}}</td>
                <td><img src="{{patient.patientimg.url}}" alt="" width=50 height=50></td>


                <td>
                    <a href="{% url 'patient_update' patient.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'patient_delete' patient.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}